<div style="width:100%">
<div class="dialogHeader" ng-show="dialog.instance.header">{{dialog.instance.header}}<br><br></div>
<div class="description" ng-class="error" ng-bind-html="dialog.instance.description"></div>
</div>